<a href="https://colab.research.google.com/github/Eunan02/Premier-league-Predicting-Model/blob/main/PredictionModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
matches = pd.read_csv("matches.csv",index_col=0)
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,15.0,1.0,0.0,0.0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,12.6,0.0,0.0,0.0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.6,0.0,0.0,0.0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,23.0,8.0,16.6,1.0,0.0,0.0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,15.3,1.0,0.0,0.0,2023,Arsenal

In [ ]:
matches.shape

(2414, 27)

In [ ]:
matches["team"].value_counts()

Arsenal                     121
Newcastle United            121
Leicester City              121
West Ham United             121
Wolverhampton Wanderers     121
Aston Villa                 121
Southampton                 121
Manchester City             121
Everton                     121
Tottenham Hotspur           121
Liverpool                   120
Chelsea                     120
Crystal Palace              120
Manchester United           120
Brighton and Hove Albion    120
Burnley                     114
Leeds United                 82
Watford                      76
Norwich City                 76
Sheffield United             76
Brentford                    45
Bournemouth                  45
Fulham                       45
West Bromwich Albion         38
Nottingham Forest             7
Name: team, dtype: int64

In [ ]:
matches[matches["team"]=="Manchester United"]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-07,14:00,Premier League,Matchweek 1,Sun,Home,L,1.0,2.0,Brighton,...,Match Report,NaN,17.0,5.0,15.5,0.0,0.0,0.0,2023,Manchester United
1,2022-08-13,17:30,Premier League,Matchweek 2,Sat,Away,L,0.0,4.0,Brentford,...,Match Report,NaN,15.0,4.0,19.4,0.0,0.0,0.0,2023,Manchester United
2,2022-08-22,20:00,Premier League,Matchweek 3,Mon,Home,W,2.0,1.0,Liverpool,...,Match Report,NaN,13.0,5.0,19.6,2.0,0.0,0.0,2023,Manchester United
3,2022-08-27,12:30,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Southampton,...,Match Report,NaN,11.0,4.0,15.2,1.0,0.0,0.0,2023,Manchester United
4,2022-09-01,20:00,Premier League,Matchweek 5,Thu,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,9.0,2.0,16.6,0.0,0.0,0.0,2023,Manchester United
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2020-07-09,20:15,Premier League,Matchweek 34,Thu,Away,W,3.0,0.0,Aston Villa,...,Match Report,NaN,13.0,5.0,17.3,1.0,1.0,1.0,2020,Manchester United
53,2020-07-13,20:00,Premier League,Matchweek 35,Mon,Home,D,2.0,2.0,Southampton,...,Match Report,NaN,8.0,4.0,18.4,0.0,0.0,0.0,2020,Manchester United
54,2020-07-16,20:15,Premier League,Matchweek 36,Thu,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,17.0,5.0,18.0,1.0,0.0,0.0,2020,Manchester United
56,2020-07-22,18:00,Premier League,Matchweek 37,Wed,Home,D,1.0,1.0,West Ham,...,Match Report,NaN,11.0,4.0,18.8,0.0,0.0,0.0,2020,Manchester United
57,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,W,2.0,0.0,Leicester City,...,Match Report,NaN,6.0,2.0,16.3,0.0,1.0,1.0,2020,Manchester United

In [ ]:
matches["round"].value_counts()

Matchweek 1     80
Matchweek 3     80
Matchweek 4     80
Matchweek 5     80
Matchweek 6     80
Matchweek 2     80
Matchweek 8     74
Matchweek 31    60
Matchweek 25    60
Matchweek 26    60
Matchweek 27    60
Matchweek 28    60
Matchweek 29    60
Matchweek 34    60
Matchweek 32    60
Matchweek 30    60
Matchweek 23    60
Matchweek 35    60
Matchweek 36    60
Matchweek 33    60
Matchweek 37    60
Matchweek 24    60
Matchweek 20    60
Matchweek 22    60
Matchweek 21    60
Matchweek 19    60
Matchweek 18    60
Matchweek 17    60
Matchweek 16    60
Matchweek 15    60
Matchweek 14    60
Matchweek 13    60
Matchweek 12    60
Matchweek 11    60
Matchweek 10    60
Matchweek 9     60
Matchweek 7     60
Matchweek 38    60
Name: round, dtype: int64

In [ ]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [ ]:
matches["date"]=pd.to_datetime(matches["date"])

In [ ]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [ ]:
matches["venue_code"]=matches["venue"].astype("category").cat.codes

In [ ]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,notes,sh,sot,dist,fk,pk,pkatt,season,team,venue_code
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,NaN,10.0,2.0,15.0,1.0,0.0,0.0,2023,Arsenal,0
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,NaN,19.0,7.0,12.6,0.0,0.0,0.0,2023,Arsenal,1
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,NaN,14.0,6.0,14.6,0.0,0.0,0.0,2023,Arsenal,0
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,NaN,23.0,8.0,16.6,1.0,0.0,0.0,2023,Arsenal,1
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,NaN,22.0,8.0,15.3,1.0,0.0,0.0,2023,Arsenal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2020-07-07,18:00,Premier League,Matchweek 34,Tue,Away,L,1.0,2.0,Watford,...,NaN,13.0,3.0,16.1,1.0,0.0,0.0,2020,Norwich City,0
39,2020-07-11,12:30,Premier League,Matchweek 35,Sat,Home,L,0.0,4.0,West Ham,...,NaN,11.0,2.0,18.9,1.0,0.0,0.0,2020,Norwich City,1
40,2020-07-14,20:15,Premier League,Matchweek 36,Tue,Away,L,0.0,1.0,Chelsea,...,NaN,2.0,0.0,22.4,0.0,0.0,0.0,2020,Norwich City,0
41,2020-07-18,17:30,Premier League,Matchweek 37,Sat,Home,L,0.0,2.0,Burnley,...,NaN,6.0,2.0,12.9,0.0,0.0,0.0,2020,Norwich City,1
42,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,L,0.0,5.0,Manchester City,...,NaN,5.0,4.0,18.6,0.0,0.0,0.0,2020,Norwich City,0

In [ ]:
matches["opp_code"]=matches["opponent"].astype("category").cat.codes

In [ ]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sh,sot,dist,fk,pk,pkatt,season,team,venue_code,opp_code
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,10.0,2.0,15.0,1.0,0.0,0.0,2023,Arsenal,0,7
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,19.0,7.0,12.6,0.0,0.0,0.0,2023,Arsenal,1,11
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,14.0,6.0,14.6,0.0,0.0,0.0,2023,Arsenal,0,2
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,23.0,8.0,16.6,1.0,0.0,0.0,2023,Arsenal,1,9
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,22.0,8.0,15.3,1.0,0.0,0.0,2023,Arsenal,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2020-07-07,18:00,Premier League,Matchweek 34,Tue,Away,L,1.0,2.0,Watford,...,13.0,3.0,16.1,1.0,0.0,0.0,2020,Norwich City,0,21
39,2020-07-11,12:30,Premier League,Matchweek 35,Sat,Home,L,0.0,4.0,West Ham,...,11.0,2.0,18.9,1.0,0.0,0.0,2020,Norwich City,1,23
40,2020-07-14,20:15,Premier League,Matchweek 36,Tue,Away,L,0.0,1.0,Chelsea,...,2.0,0.0,22.4,0.0,0.0,0.0,2020,Norwich City,0,6
41,2020-07-18,17:30,Premier League,Matchweek 37,Sat,Home,L,0.0,2.0,Burnley,...,6.0,2.0,12.9,0.0,0.0,0.0,2020,Norwich City,1,5
42,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,L,0.0,5.0,Manchester City,...,5.0,4.0,18.6,0.0,0.0,0.0,2020,Norwich City,0,13

In [ ]:
matches["hour"]=matches["time"].str.replace(":.+","", regex=True).astype("int")

In [ ]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sot,dist,fk,pk,pkatt,season,team,venue_code,opp_code,hour
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,2.0,15.0,1.0,0.0,0.0,2023,Arsenal,0,7,20
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,7.0,12.6,0.0,0.0,0.0,2023,Arsenal,1,11,15
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,6.0,14.6,0.0,0.0,0.0,2023,Arsenal,0,2,17
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,8.0,16.6,1.0,0.0,0.0,2023,Arsenal,1,9,17
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,8.0,15.3,1.0,0.0,0.0,2023,Arsenal,1,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2020-07-07,18:00,Premier League,Matchweek 34,Tue,Away,L,1.0,2.0,Watford,...,3.0,16.1,1.0,0.0,0.0,2020,Norwich City,0,21,18
39,2020-07-11,12:30,Premier League,Matchweek 35,Sat,Home,L,0.0,4.0,West Ham,...,2.0,18.9,1.0,0.0,0.0,2020,Norwich City,1,23,12
40,2020-07-14,20:15,Premier League,Matchweek 36,Tue,Away,L,0.0,1.0,Chelsea,...,0.0,22.4,0.0,0.0,0.0,2020,Norwich City,0,6,20
41,2020-07-18,17:30,Premier League,Matchweek 37,Sat,Home,L,0.0,2.0,Burnley,...,2.0,12.9,0.0,0.0,0.0,2020,Norwich City,1,5,17
42,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,L,0.0,5.0,Manchester City,...,4.0,18.6,0.0,0.0,0.0,2020,Norwich City,0,13,16

In [ ]:
matches["day_code"]=matches["date"].dt.dayofweek

In [ ]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,dist,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,15.0,1.0,0.0,0.0,2023,Arsenal,0,7,20,4
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,12.6,0.0,0.0,0.0,2023,Arsenal,1,11,15,5
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,14.6,0.0,0.0,0.0,2023,Arsenal,0,2,17,5
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,16.6,1.0,0.0,0.0,2023,Arsenal,1,9,17,5
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,15.3,1.0,0.0,0.0,2023,Arsenal,1,1,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2020-07-07,18:00,Premier League,Matchweek 34,Tue,Away,L,1.0,2.0,Watford,...,16.1,1.0,0.0,0.0,2020,Norwich City,0,21,18,1
39,2020-07-11,12:30,Premier League,Matchweek 35,Sat,Home,L,0.0,4.0,West Ham,...,18.9,1.0,0.0,0.0,2020,Norwich City,1,23,12,5
40,2020-07-14,20:15,Premier League,Matchweek 36,Tue,Away,L,0.0,1.0,Chelsea,...,22.4,0.0,0.0,0.0,2020,Norwich City,0,6,20,1
41,2020-07-18,17:30,Premier League,Matchweek 37,Sat,Home,L,0.0,2.0,Burnley,...,12.9,0.0,0.0,0.0,2020,Norwich City,1,5,17,5
42,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,L,0.0,5.0,Manchester City,...,18.6,0.0,0.0,0.0,2020,Norwich City,0,13,16,6

In [ ]:
matches["target"]=(matches["result"]=="W").astype("int")

In [ ]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,1.0,0.0,0.0,2023,Arsenal,0,7,20,4,1
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,0.0,0.0,0.0,2023,Arsenal,1,11,15,5,1
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,0.0,0.0,0.0,2023,Arsenal,0,2,17,5,1
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,1.0,0.0,0.0,2023,Arsenal,1,9,17,5,1
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,1.0,0.0,0.0,2023,Arsenal,1,1,19,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2020-07-07,18:00,Premier League,Matchweek 34,Tue,Away,L,1.0,2.0,Watford,...,1.0,0.0,0.0,2020,Norwich City,0,21,18,1,0
39,2020-07-11,12:30,Premier League,Matchweek 35,Sat,Home,L,0.0,4.0,West Ham,...,1.0,0.0,0.0,2020,Norwich City,1,23,12,5,0
40,2020-07-14,20:15,Premier League,Matchweek 36,Tue,Away,L,0.0,1.0,Chelsea,...,0.0,0.0,0.0,2020,Norwich City,0,6,20,1,0
41,2020-07-18,17:30,Premier League,Matchweek 37,Sat,Home,L,0.0,2.0,Burnley,...,0.0,0.0,0.0,2020,Norwich City,1,5,17,5,0
42,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,L,0.0,5.0,Manchester City,...,0.0,0.0,0.0,2020,Norwich City,0,13,16,6,0

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10,random_state=1)

In [ ]:
train=matches[matches["date"] < '2022-01-01']

In [ ]:
test = matches[matches["date"]> '2022-01-01']

In [ ]:
predictors= ["venue_code","opp_code","hour","day_code"]

In [ ]:
rf.fit(train[predictors],train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [ ]:
preds=rf.predict(test[predictors])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
acc = accuracy_score(test["target"],preds)

In [ ]:
acc

0.6206896551724138

In [ ]:
combined=pd.DataFrame(dict(actual=test["target"],predictions=preds))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["predictions"])

predictions    0   1
actual
0            258  61
1            137  66

In [ ]:
from sklearn.metrics import precision_score

In [ ]:
precision_score(test["target"], preds)

0.5196850393700787

In [ ]:
grouped_matches=matches.groupby("team")

In [ ]:
group=grouped_matches.get_group("Manchester United")

In [ ]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
0,2022-08-07,14:00,Premier League,Matchweek 1,Sun,Home,L,1.0,2.0,Brighton,...,0.0,0.0,0.0,2023,Manchester United,1,4,14,6,0
1,2022-08-13,17:30,Premier League,Matchweek 2,Sat,Away,L,0.0,4.0,Brentford,...,0.0,0.0,0.0,2023,Manchester United,0,3,17,5,0
2,2022-08-22,20:00,Premier League,Matchweek 3,Mon,Home,W,2.0,1.0,Liverpool,...,2.0,0.0,0.0,2023,Manchester United,1,12,20,0,1
3,2022-08-27,12:30,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Southampton,...,1.0,0.0,0.0,2023,Manchester United,0,19,12,5,1
4,2022-09-01,20:00,Premier League,Matchweek 5,Thu,Away,W,1.0,0.0,Leicester City,...,0.0,0.0,0.0,2023,Manchester United,0,11,20,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2020-07-09,20:15,Premier League,Matchweek 34,Thu,Away,W,3.0,0.0,Aston Villa,...,1.0,1.0,1.0,2020,Manchester United,0,1,20,3,1
53,2020-07-13,20:00,Premier League,Matchweek 35,Mon,Home,D,2.0,2.0,Southampton,...,0.0,0.0,0.0,2020,Manchester United,1,19,20,0,0
54,2020-07-16,20:15,Premier League,Matchweek 36,Thu,Away,W,2.0,0.0,Crystal Palace,...,1.0,0.0,0.0,2020,Manchester United,0,7,20,3,1
56,2020-07-22,18:00,Premier League,Matchweek 37,Wed,Home,D,1.0,1.0,West Ham,...,0.0,0.0,0.0,2020,Manchester United,1,23,18,2,0
57,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,W,2.0,0.0,Leicester City,...,0.0,1.0,1.0,2020,Manchester United,0,11,16,6,1

In [ ]:
def rolling_averages(group,cols,new_cols):
  group=group.sort_values("date")
  rolling_stats=group[cols].rolling(3, closed='left').mean()
  group[new_cols]=rolling_stats
  group=group.dropna(subset=new_cols)
  return group

In [ ]:
cols  = ["gf","ga","sh","sot","dist","fk","pk","pkatt"]
new_cols=[f"{c}_rolling" for c in cols]

In [ ]:
new_cols

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [ ]:
rolling_averages(group,cols,new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2019-08-31,12:30,Premier League,Matchweek 4,Sat,Away,D,1.0,1.0,Southampton,...,5,0,2.000000,1.000000,13.000000,2.666667,18.266667,1.333333,0.333333,1.000000
4,2019-09-14,15:00,Premier League,Matchweek 5,Sat,Home,W,1.0,0.0,Leicester City,...,5,1,1.000000,1.333333,16.666667,4.000000,18.133333,1.333333,0.000000,0.666667
6,2019-09-22,14:00,Premier League,Matchweek 6,Sun,Away,L,0.0,2.0,West Ham,...,6,0,1.000000,1.000000,17.000000,5.000000,19.000000,1.666667,0.333333,0.666667
8,2019-09-30,20:00,Premier League,Matchweek 7,Mon,Home,D,1.0,1.0,Arsenal,...,0,0,0.666667,1.000000,13.333333,5.333333,19.266667,0.666667,0.333333,0.333333
10,2019-10-06,16:30,Premier League,Matchweek 8,Sun,Away,L,0.0,1.0,Newcastle Utd,...,6,0,0.666667,1.000000,11.666667,4.000000,20.666667,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2022-08-13,17:30,Premier League,Matchweek 2,Sat,Away,L,0.0,4.0,Brentford,...,5,0,0.333333,2.333333,14.000000,4.666667,18.000000,0.666667,0.000000,0.000000
2,2022-08-22,20:00,Premier League,Matchweek 3,Mon,Home,W,2.0,1.0,Liverpool,...,0,1,0.333333,2.333333,14.000000,4.333333,18.133333,0.333333,0.000000,0.000000
3,2022-08-27,12:30,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Southampton,...,5,1,1.000000,2.333333,15.000000,4.666667,18.166667,0.666667,0.000000,0.000000
4,2022-09-01,20:00,Premier League,Matchweek 5,Thu,Away,W,1.0,0.0,Leicester City,...,3,1,1.000000,1.666667,13.000000,4.333333,18.066667,1.000000,0.000000,0.000000
5,2022-09-04,16:30,Premier League,Matchweek 6,Sun,Home,W,3.0,1.0,Arsenal,...,6,1,1.333333,0.333333,11.000000,3.666667,17.133333,1.000000,0.000000,0.000000

In [ ]:
matches_rolling=matches.groupby("team").apply(lambda x: rolling_averages(x,cols,new_cols))

In [ ]:
matches_rolling

                                 date   time            comp        round  \
team
Arsenal                 3  2019-09-01  16:30  Premier League  Matchweek 4
                        4  2019-09-15  16:30  Premier League  Matchweek 5
                        6  2019-09-22  16:30  Premier League  Matchweek 6
                        8  2019-09-30  20:00  Premier League  Matchweek 7
                        10 2019-10-06  14:00  Premier League  Matchweek 8
...                               ...    ...             ...          ...
Wolverhampton Wanderers 2  2022-08-20  12:30  Premier League  Matchweek 3
                        4  2022-08-28  14:00  Premier League  Matchweek 4
                        5  2022-08-31  19:30  Premier League  Matchweek 5
                        6  2022-09-03  15:00  Premier League  Matchweek 6
                        7  2022-09-17  12:30  Premier League  Matchweek 8

                            day venue result   gf   ga         opponent  ...  \
team                                                                     ...
Arsenal                 3   Sun  Home      D  2.0  2.0        Tottenham  ...
                        4   Sun  Away      D  2.0  2.0          Watford  ...
                        6   Sun  Home      W  3.0  2.0      Aston Villa  ...
                        8   Mon  Away      D  1.0  1.0   Manchester Utd  ...
                        10  Sun  Home      W  1.0  0.0      Bournemouth  ...
...                         ...   ...    ...  ...  ...              ...  ...
Wolverhampton Wanderers 2   Sat  Away      L  0.0  1.0        Tottenham  ...
                        4   Sun  Home      D  1.0  1.0    Newcastle Utd  ...
                        5   Wed  Away      D  0.0  0.0      Bournemouth  ...
                        6   Sat  Home      W  1.0  0.0      Southampton  ...
                        7   Sat  Home      L  0.0  3.0  Manchester City  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 3          6       0    1.333333    1.333333
                        4          6       0    1.666667    2.000000
                        6          6       1    1.666667    2.333333
                        8          0       0    2.333333    2.000000
                        10         6       1    2.000000    1.666667
...                              ...     ...         ...         ...
Wolverhampton Wanderers 2          5       0    0.666667    1.666667
                        4          6       0    0.333333    1.000000
                        5          2       0    0.333333    0.666667
                        6          5       1    0.333333    0.666667
                        7          5       0    0.666667    0.333333

                           sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 3   10.666667    4.666667    17.133333   0.333333
                        4   17.000000    6.666667    18.366667   1.000000
                        6   14.000000    5.000000    19.400000   1.000000
                        8   17.666667    5.333333    18.433333   1.333333
                        10  12.333333    4.333333    18.100000   1.000000
...                               ...         ...          ...        ...
Wolverhampton Wanderers 2    9.666667    4.000000    17.333333   0.333333
                        4   14.000000    3.333333    19.333333   0.666667
                        5   12.333333    2.666667    19.600000   1.000000
                        6   15.666667    3.333333    19.066667   1.000000
                        7   11.333333    3.000000    16.600000   0.666667

                            pk_rolling  pkatt_rolling
team
Arsenal                 3     0.000000       0.000000
                        4     0.000000       0.000000
                        6     0.000000       0.000000
                        8     0.333333       0.333333
                        10    0.333333       0.333333
...                                ...            ...
Wolverhampton Wanderers 2     0.000000       0.000000
                        4     0.000000       0.000000
                        5     0.000000       0.000000
                        6     0.000000       0.000000
                        7     0.000000       0.000000

[2336 rows x 40 columns]

In [ ]:
matches_rolling=matches_rolling.droplevel('team')

In [ ]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2019-09-01,16:30,Premier League,Matchweek 4,Sun,Home,D,2.0,2.0,Tottenham,...,6,0,1.333333,1.333333,10.666667,4.666667,17.133333,0.333333,0.000000,0.000000
4,2019-09-15,16:30,Premier League,Matchweek 5,Sun,Away,D,2.0,2.0,Watford,...,6,0,1.666667,2.000000,17.000000,6.666667,18.366667,1.000000,0.000000,0.000000
6,2019-09-22,16:30,Premier League,Matchweek 6,Sun,Home,W,3.0,2.0,Aston Villa,...,6,1,1.666667,2.333333,14.000000,5.000000,19.400000,1.000000,0.000000,0.000000
8,2019-09-30,20:00,Premier League,Matchweek 7,Mon,Away,D,1.0,1.0,Manchester Utd,...,0,0,2.333333,2.000000,17.666667,5.333333,18.433333,1.333333,0.333333,0.333333
10,2019-10-06,14:00,Premier League,Matchweek 8,Sun,Home,W,1.0,0.0,Bournemouth,...,6,1,2.000000,1.666667,12.333333,4.333333,18.100000,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2022-08-20,12:30,Premier League,Matchweek 3,Sat,Away,L,0.0,1.0,Tottenham,...,5,0,0.666667,1.666667,9.666667,4.000000,17.333333,0.333333,0.000000,0.000000
4,2022-08-28,14:00,Premier League,Matchweek 4,Sun,Home,D,1.0,1.0,Newcastle Utd,...,6,0,0.333333,1.000000,14.000000,3.333333,19.333333,0.666667,0.000000,0.000000
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Away,D,0.0,0.0,Bournemouth,...,2,0,0.333333,0.666667,12.333333,2.666667,19.600000,1.000000,0.000000,0.000000
6,2022-09-03,15:00,Premier League,Matchweek 6,Sat,Home,W,1.0,0.0,Southampton,...,5,1,0.333333,0.666667,15.666667,3.333333,19.066667,1.000000,0.000000,0.000000
7,2022-09-17,12:30,Premier League,Matchweek 8,Sat,Home,L,0.0,3.0,Manchester City,...,5,0,0.666667,0.333333,11.333333,3.000000,16.600000,0.666667,0.000000,0.000000

In [ ]:
matches_rolling.index= range(matches_rolling.shape[0])

In [ ]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2019-09-01,16:30,Premier League,Matchweek 4,Sun,Home,D,2.0,2.0,Tottenham,...,6,0,1.333333,1.333333,10.666667,4.666667,17.133333,0.333333,0.000000,0.000000
1,2019-09-15,16:30,Premier League,Matchweek 5,Sun,Away,D,2.0,2.0,Watford,...,6,0,1.666667,2.000000,17.000000,6.666667,18.366667,1.000000,0.000000,0.000000
2,2019-09-22,16:30,Premier League,Matchweek 6,Sun,Home,W,3.0,2.0,Aston Villa,...,6,1,1.666667,2.333333,14.000000,5.000000,19.400000,1.000000,0.000000,0.000000
3,2019-09-30,20:00,Premier League,Matchweek 7,Mon,Away,D,1.0,1.0,Manchester Utd,...,0,0,2.333333,2.000000,17.666667,5.333333,18.433333,1.333333,0.333333,0.333333
4,2019-10-06,14:00,Premier League,Matchweek 8,Sun,Home,W,1.0,0.0,Bournemouth,...,6,1,2.000000,1.666667,12.333333,4.333333,18.100000,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331,2022-08-20,12:30,Premier League,Matchweek 3,Sat,Away,L,0.0,1.0,Tottenham,...,5,0,0.666667,1.666667,9.666667,4.000000,17.333333,0.333333,0.000000,0.000000
2332,2022-08-28,14:00,Premier League,Matchweek 4,Sun,Home,D,1.0,1.0,Newcastle Utd,...,6,0,0.333333,1.000000,14.000000,3.333333,19.333333,0.666667,0.000000,0.000000
2333,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Away,D,0.0,0.0,Bournemouth,...,2,0,0.333333,0.666667,12.333333,2.666667,19.600000,1.000000,0.000000,0.000000
2334,2022-09-03,15:00,Premier League,Matchweek 6,Sat,Home,W,1.0,0.0,Southampton,...,5,1,0.333333,0.666667,15.666667,3.333333,19.066667,1.000000,0.000000,0.000000
2335,2022-09-17,12:30,Premier League,Matchweek 8,Sat,Home,L,0.0,3.0,Manchester City,...,5,0,0.666667,0.333333,11.333333,3.000000,16.600000,0.666667,0.000000,0.000000

In [ ]:
def make_predictions(data,predictors):
  train=data[data["date"]< '2022-01-01']
  test= data[data["date"]>'2022-01-01']
  rf.fit(train[predictors],train["target"])
  preds=rf.predict(test[predictors])
  combined= pd.DataFrame(dict(actual=test["target"],predicted=preds),index=test.index)
  precision=precision_score(test["target"],preds)
  return combined,precision

In [ ]:
combined, precision=make_predictions(matches_rolling,predictors+ new_cols)

In [ ]:
precision

0.5853658536585366

In [ ]:
combined

      actual  predicted
93         0          1
94         1          0
95         1          0
96         1          1
97         1          1
...      ...        ...
2331       0          0
2332       0          1
2333       0          0
2334       1          1
2335       0          0

[519 rows x 2 columns]

In [ ]:
combined =combined.merge(matches_rolling[["date","team","opponent","result"]],left_index=True,right_index=True)

In [ ]:
combined

,actual,predicted,date,team,opponent,result
93,0,1,2022-01-23,Arsenal,Burnley,D
94,1,0,2022-02-10,Arsenal,Wolves,W
95,1,0,2022-02-19,Arsenal,Brentford,W
96,1,1,2022-02-24,Arsenal,Wolves,W
97,1,1,2022-03-06,Arsenal,Watford,W
...,...,...,...,...,...,...
2331,0,0,2022-08-20,Wolverhampton Wanderers,Tottenham,L
2332,0,1,2022-08-28,Wolverhampton Wanderers,Newcastle Utd,D
2333,0,0,2022-08-31,Wolverhampton Wanderers,Bournemouth,D
2334,1,1,2022-09-03,Wolverhampton Wanderers,Southampton,W
2335,0,0,2022-09-17,Wolverhampton Wanderers,Manchester City,L

In [ ]:
class MissingDict(dict):
  __missing__=lambda self, key:key

maps_values= {
    "Brighton and Hove Albion":"Brighton",
    "Manchester United": "Manchester Utd",
    "Newcastle United": "Newcastle Utd",
    "Tottenham Hotspur": "Tottenham",
    "West Ham United": "West Ham",
    "Wolverhampton Wanderers": "Wolves"
}

mapping = MissingDict(**maps_values)

In [ ]:
mapping["Wolverhampton Wanderers"]

'Wolves'

In [ ]:
combined["new_team"]=combined["team"].map(mapping)

In [ ]:
combined

,actual,predicted,date,team,opponent,result,new_team
93,0,1,2022-01-23,Arsenal,Burnley,D,Arsenal
94,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal
95,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal
96,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal
97,1,1,2022-03-06,Arsenal,Watford,W,Arsenal
...,...,...,...,...,...,...,...
2331,0,0,2022-08-20,Wolverhampton Wanderers,Tottenham,L,Wolves
2332,0,1,2022-08-28,Wolverhampton Wanderers,Newcastle Utd,D,Wolves
2333,0,0,2022-08-31,Wolverhampton Wanderers,Bournemouth,D,Wolves
2334,1,1,2022-09-03,Wolverhampton Wanderers,Southampton,W,Wolves
2335,0,0,2022-09-17,Wolverhampton Wanderers,Manchester City,L,Wolves

In [ ]:
merged=combined.merge(combined, left_on=["date","new_team"],right_on=["date","opponent"])

In [ ]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,0,0,2022-08-20,Wolverhampton Wanderers,Tottenham,L,Wolves,1,1,Tottenham Hotspur,Wolves,W,Tottenham
508,0,1,2022-08-28,Wolverhampton Wanderers,Newcastle Utd,D,Wolves,0,0,Newcastle United,Wolves,D,Newcastle Utd
509,0,0,2022-08-31,Wolverhampton Wanderers,Bournemouth,D,Wolves,0,0,Bournemouth,Wolves,D,Bournemouth
510,1,1,2022-09-03,Wolverhampton Wanderers,Southampton,W,Wolves,0,0,Southampton,Wolves,L,Southampton
511,0,0,2022-09-17,Wolverhampton Wanderers,Manchester City,L,Wolves,1,1,Manchester City,Wolves,W,Manchester City

In [ ]:
merged[(merged["predicted_x"]==1) & (merged["predicted_y"]==0)]["actual_x"].value_counts()

1    63
0    40
Name: actual_x, dtype: int64

In [ ]:
63 /103

0.6116504854368932